{% extends "partail/base.html" %}
{% load static %}
{% block content %}

            <!-- Body Container -->
            <div id="page-content">
                <!--Page Header-->
                <div class="page-header text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-between align-items-center">
                                <div class="page-title"><h1>About Us Style1</h1></div>
                                <!--Breadcrumbs-->
                                <div class="breadcrumbs"><a href="index-2.html" title="Back to the home page">Home</a><span class="title"><i class="icon anm anm-angle-right-l"></i>Pages</span><span class="main-title fw-bold"><i class="icon anm anm-angle-right-l"></i>About Us Style1</span></div>
                                <!--End Breadcrumbs-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Page Header-->

                <!--Main Content-->
                <!-- Destination section -->
                <div class="destination-section section pt-0">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="about-images mb-4 mb-md-0">
                                    <div class="row g-3">
                                        <img class="rounded-0 blur-up lazyload" data-src="{% static "assets/images/about/about3.jpg" %}" src="{% static "assets/images/about/about3.jpg" %}" alt="about" width="700" height="827" />                              
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="about-details px-50 py-5">
                                    <p class="text-muted fs-6 mb-3">Standard Works</p>
                                    <h2 class="fs-4 mb-4">Largest Online Fashion destination</h2>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, even slightly believable.</p>
                                    <p>Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary.</p>
                                    <a href="shop-right-sidebar.html" class="btn btn-lg mt-md-2">Explore Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Destination section -->

                <!-- Service section -->
                <div class="service-section section section-color-light">
                    <div class="container">
                        <div class="service-info row col-row row-cols-lg-4 row-cols-md-4 row-cols-sm-2 row-cols-2 text-center">
                            <div class="service-wrap col-item">
                                <div class="service-icon mb-3">
                                    <i class="icon anm anm-chat text-primary fs-2"></i>
                                </div>
                                <div class="service-content">
                                    <h3 class="fs-6 mb-1 text-uppercase">Customer Servcies</h3>
                                    <span class="text-muted">Top notch customer service.</span>
                                </div>
                            </div>
                            <div class="service-wrap col-item">
                                <div class="service-icon mb-3">
                                    <i class="icon anm anm-truck-line text-primary fs-2"></i>
                                </div>
                                <div class="service-content">
                                    <h3 class="fs-6 mb-1 text-uppercase">Pickup At Any Store</h3>
                                    <span class="text-muted">Free shipping on orders over $65.</span>
                                </div>
                            </div>
                            <div class="service-wrap col-item">
                                <div class="service-icon mb-3">
                                    <i class="icon anm anm-credit-card-l text-primary fs-2"></i>
                                </div>
                                <div class="service-content">
                                    <h3 class="fs-6 mb-1 text-uppercase">Secured Payment</h3>
                                    <span class="text-muted">We accept all major credit cards.</span>
                                </div>
                            </div>
                            <div class="service-wrap col-item">
                                <div class="service-icon mb-3">
                                    <i class="icon anm anm-vh-bus-l text-primary fs-2"></i>
                                </div>
                                <div class="service-content">
                                    <h3 class="fs-6 mb-1 text-uppercase">Free Returns</h3>
                                    <span class="text-muted">30-days free return policy.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Service section -->

                <!-- Destination section -->
                <div class="destination-section section pb-0">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="about-details px-50 py-5">
                                    <h2 class="fs-4 mb-3">We unleash your business potential.</h2>
                                    <p>Through strategy, design, and planning we build brand identities that connect with your template. We then fine-tune a marketing plan that allows us to laser focus.</p>
                                    <p>Digital solutions for your online business.</p>
                                    <a href="#" class="btn btn-lg mt-md-2">Discover Now</a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="about-images mt-4 mt-md-0">
                                    <div class="row g-3">
                                        <img class="rounded-0 blur-up lazyload" data-src="{% static "assets/images/about/about1.jpg" %}" src="{% static "assets/images/about/about1.jpg" %}" alt="about" width="700" height="827" />                              
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Destination section -->

                <!--Meet Our Team section-->
                <div class="team-section section">
                    <div class="container">
                        <div class="section-header">
                            <p class="mb-2 mt-0">Dreams and teams work together</p>
                            <h2>Our Amazing Team</h2>
                        </div>

                        <div class="team-items row col-row row-cols-lg-4 row-cols-md-4 row-cols-sm-2 row-cols-2 text-center">
                            <div class="team-item col-item">
                                <div class="team-img zoom-scal rounded-0">
                                    <img class="rounded-0 blur-up lazyload w-100" data-src="{% static "assets/images/about/about-team1.jpg" %}" src="{% static "assets/images/about/about-team1.jpg" %}" alt="team" width="350" height="350" />
                                    <ul class="list-inline social-icons d-flex-justify-center">
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="icon anm anm-facebook-f"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="icon anm anm-twitter"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><i class="icon anm anm-pinterest-p"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="icon anm anm-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                                <div class="team-bio pt-3">
                                    <h3 class="mb-2">Bruce Sutton</h3>
                                    <p>CEO - Founder</p>
                                </div>
                            </div>
                            <div class="team-item col-item">
                                <div class="team-img zoom-scal rounded-0">
                                    <img class="rounded-0 blur-up lazyload w-100" data-src="{% static "assets/images/about/about-team2.jpg" %}" src="{% static "assets/images/about/about-team2.jpg" %}" alt="team" width="350" height="350" />
                                    <ul class="list-inline social-icons d-flex-justify-center">
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="icon anm anm-facebook-f"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="icon anm anm-twitter"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><i class="icon anm anm-pinterest-p"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="icon anm anm-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                                <div class="team-bio pt-3">
                                    <h3 class="mb-2">Ellen Thornton</h3>
                                    <p>Products Manager</p>
                                </div>
                            </div>
                            <div class="team-item col-item">
                                <div class="team-img zoom-scal rounded-0">
                                    <img class="rounded-0 blur-up lazyload w-100" data-src="{% static "assets/images/about/about-team3.jpg" %}" src="{% static "assets/images/about/about-team3.jpg" %}" alt="team" width="350" height="350" />
                                    <ul class="list-inline social-icons d-flex-justify-center">
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="icon anm anm-facebook-f"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="icon anm anm-twitter"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><i class="icon anm anm-pinterest-p"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="icon anm anm-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                                <div class="team-bio pt-3">
                                    <h3 class="mb-2">Lisa John</h3>
                                    <p>Marketing</p>
                                </div>
                            </div>
                            <div class="team-item col-item">
                                <div class="team-img zoom-scal rounded-0">
                                    <img class="rounded-0 blur-up lazyload w-100" data-src="{% static "assets/images/about/about-team4.jpg" %}" src="{% static "assets/images/about/about-team4.jpg" %}" alt="team" width="350" height="350" />
                                    <ul class="list-inline social-icons d-flex-justify-center">
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="icon anm anm-facebook-f"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="icon anm anm-twitter"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><i class="icon anm anm-pinterest-p"></i></a></li>
                                        <li class="list-inline-item"><a class="clr-none" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="icon anm anm-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                                <div class="team-bio pt-3">
                                    <h3 class="mb-2">Jackly Smith</h3>
                                    <p>Designer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Meet Our Team section-->

                <!-- Popular Brands -->
                <div class="featured-brands-logo section section-color-light">
                    <div class="container">
                        <div class="brands-list">
                            <div class="brands-row logo-bar logo-slider-6items gp10 arwOut5">
                                <div class="brands-logo">
                                    <a href="shop-right-sidebar.html" class="zoom-scal zoom-scal-nopb rounded-0"><img class="rounded-0 blur-up lazyload" src="{% static "assets/images/logo/brandlogo1.png" %}" alt="Brand Logo" title="" width="194" height="97" /></a>
                                </div>
                                <div class="brands-logo">
                                    <a href="shop-right-sidebar.html" class="zoom-scal zoom-scal-nopb rounded-0"><img class="rounded-0 blur-up lazyload" src="{% static "assets/images/logo/brandlogo2.png" %}" alt="Brand Logo" title="" width="194" height="97" /></a>
                                </div>
                                <div class="brands-logo">
                                    <a href="shop-right-sidebar.html" class="zoom-scal zoom-scal-nopb rounded-0"><img class="rounded-0 blur-up lazyload" src="{% static "assets/images/logo/brandlogo3.png" %}" alt="Brand Logo" title="" width="194" height="97" /></a>
                                </div>
                                <div class="brands-logo">
                                    <a href="shop-right-sidebar.html" class="zoom-scal zoom-scal-nopb rounded-0"><img class="rounded-0 blur-up lazyload" src="{% static "assets/images/logo/brandlogo4.png" %}" alt="Brand Logo" title="" width="194" height="97" /></a>
                                </div>
                                <div class="brands-logo">
                                    <a href="shop-right-sidebar.html" class="zoom-scal zoom-scal-nopb rounded-0"><img class="rounded-0 blur-up lazyload" src="{% static "assets/images/logo/brandlogo5.png" %}" alt="Brand Logo" title="" width="194" height="97" /></a>
                                </div>
                                <div class="brands-logo">
                                    <a href="shop-right-sidebar.html" class="zoom-scal zoom-scal-nopb rounded-0"><img class="rounded-0 blur-up lazyload" src="{% static "assets/images/logo/brandlogo6.png" %}" alt="Brand Logo" title="" width="194" height="97" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Popular Brands -->

                <!--Testimonial Section-->
                <section class="section testimonial-slider style1 pb-0">
                    <div class="container">
                        <div class="section-header">
                            <p class="mb-2 mt-0">Happy Customer</p>
                            <h2>Testimonials</h2>
                        </div>

                        <div class="testimonial-wraper">
                            <!--Testimonial Slider Items-->
                            <div class="testimonial-slider-3items gp15 slick-arrow-dots arwOut5">
                                <div class="testimonial-slide rounded-3">
                                    <div class="testimonial-content text-center">     
                                        <div class="quote-icon mb-3 mb-lg-4"><img class="blur-up lazyload mx-auto" data-src="{% static "assets/images/icons/demo1-quote-icon.png" %}" src="{% static "assets/images/icons/demo1-quote-icon.png" %}" alt="icon" width="40" height="40" /></div>
                                        <div class="content">  
                                            <div class="text mb-2"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 1500s.</p></div>
                                            <div class="product-review my-3">
                                                <i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i>
                                                <span class="caption hidden ms-1">24 Reviews</span>
                                            </div>
                                        </div>
                                        <div class="auhimg d-flex-justify-center text-left">
                                            <div class="image"><img class="rounded-circle blur-up lazyload" data-src="{% static "assets/images/users/testimonial1-65x.jpg" %}" src="{% static "assets/images/users/testimonial1-65x.jpg" %}" alt="quotes" width="65" height="65" /></div>
                                            <div class="auhtext ms-3">
                                                <h5 class="authour mb-1">John Doe</h5>
                                                <p class="text-muted">Founder &amp; CEO</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-slide rounded-3">
                                    <div class="testimonial-content text-center">                                                     
                                        <div class="quote-icon mb-3 mb-lg-4"><img class="blur-up lazyload mx-auto" data-src="{% static "assets/images/icons/demo1-quote-icon.png" %}" src="{% static "assets/images/icons/demo1-quote-icon.png" %}" alt="icon" width="40" height="40" /></div>
                                        <div class="content">  
                                            <div class="text mb-2"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 1500s.</p></div>
                                            <div class="product-review my-3">
                                                <i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star-o"></i>
                                                <span class="caption hidden ms-1">15 Reviews</span>
                                            </div>
                                        </div>
                                        <div class="auhimg d-flex-justify-center text-left">
                                            <div class="image"><img class="rounded-circle blur-up lazyload" data-src="{% static "assets/images/users/testimonial2-65x.jpg" %}" src="{% static "assets/images/users/testimonial2-65x.jpg" %}" alt="quotes" width="65" height="65" /></div>
                                            <div class="auhtext ms-3">
                                                <h5 class="authour mb-1">Jessica Doe</h5>
                                                <p class="text-muted">Marketing</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-slide rounded-3">
                                    <div class="testimonial-content text-center">                                                     
                                        <div class="quote-icon mb-3 mb-lg-4"><img class="blur-up lazyload mx-auto" data-src="{% static "assets/images/icons/demo1-quote-icon.png" %}" src="{% static "assets/images/icons/demo1-quote-icon.png" %}" alt="icon" width="40" height="40" /></div>
                                        <div class="content">  
                                            <div class="text mb-2"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 1500s.</p></div>
                                            <div class="product-review my-3">
                                                <i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star-o"></i><i class="icon anm anm-star-o"></i>
                                                <span class="caption hidden ms-1">17 Reviews</span>
                                            </div>
                                        </div>
                                        <div class="auhimg d-flex-justify-center text-left">
                                            <div class="image"><img class="rounded-circle blur-up lazyload" data-src="{% static "assets/images/users/testimonial3-65x.jpg" %}" src="{% static "assets/images/users/testimonial3-65x.jpg" %}" alt="quotes" width="65" height="65" /></div>
                                            <div class="auhtext ms-3">
                                                <h5 class="authour mb-1">Rick Edward</h5>
                                                <p class="text-muted">Developer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-slide rounded-3">
                                    <div class="testimonial-content text-center">                                                     
                                        <div class="quote-icon mb-3 mb-lg-4"><img class="blur-up lazyload mx-auto" data-src="{% static "assets/images/icons/demo1-quote-icon.png" %}" src="{% static "assets/images/icons/demo1-quote-icon.png" %}" alt="icon" width="40" height="40" /></div>
                                        <div class="content">  
                                            <div class="text mb-2"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text 1500s.</p></div>
                                            <div class="product-review my-3">
                                                <i class="icon anm anm-star"></i><i class="icon anm anm-star"></i><i class="icon anm anm-star-o"></i><i class="icon anm anm-star-o"></i><i class="icon anm anm-star-o"></i>
                                                <span class="caption hidden ms-1">29 Reviews</span>
                                            </div>
                                        </div>
                                        <div class="auhimg d-flex-justify-center text-left">
                                            <div class="image"><img class="rounded-circle blur-up lazyload" data-src="{% static "assets/images/users/testimonial4-65x.jpg" %}" src="{% static "assets/images/users/testimonial4-65x.jpg" %}" alt="quotes" width="65" height="65" /></div>
                                            <div class="auhtext ms-3">
                                                <h5 class="authour mb-1">Happy Buyer</h5>
                                                <p class="text-muted">Designer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Testimonial Slider Items-->
                        </div>
                    </div>
                </section>
                <!--End Testimonial section-->
                <!--End Main Content-->
            </div>
            <!-- End Body Container -->

            
            

            <!--Scoll Top-->
            <div id="site-scroll"><i class="icon anm anm-arw-up"></i></div>
            <!--End Scoll Top-->

            <!--MiniCart Drawer-->
            
            <!--End MiniCart Drawer-->


            

        
    </body>
</html>

{% endblock %}